<div class="row mb-4">
    <div class="col text-center">
        <h1>Welcome to Daniel Vestergaard Jensen Portfolio</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="mx-auto profilePicContainer">
            <img src="images/profilepic.jpg" class="img-fluid rounded-circle" alt="There should be a picture right about here.." >
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Hi! My name is Daniel, and I am a software engineer.</p>
        <p>This page will showcase the work I have done in my spare time as well as interesting projects I have made during my time at Aarhus University School of Engineering</p>
    </div>
</div>